.landing-description-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5%;
}

#description-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0;
}

.category {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 2%;
    width: 20%;
}

#description-title {
    font-size: clamp(3rem, 4vw, 4rem);
}

#category-name {
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    text-align: center;
}

.category-description {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-align: center;
}

.description-icon {
    margin: 2rem;
    width: 50%;
}

@media screen and (max-width: 760px) {
    #description-categories {
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    }

    .category {
        margin: 5% 2%;
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .category {
        width: 65%;
    }
}