.landing-description-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5%;
}

#description-categories {
    display: flex;
    flex-direction: row;
    margin: 5% 0;
}

.category {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 2%;
    width: 20%;
}

#description-title {
    font-size: 4.5rem;
}

#category-name {
    font-size: 1.4rem;
    text-align: center;
}

.category-description {
    font-size: 1.3rem;
    text-align: center;
}

.description-icon {
    margin: 2rem;
    width: 50%;
}