#new-releases {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  padding: 3% 5% 10%;
  width: 100%;
}

.wineSwiper {
  width: 70vw;
  height: 42vw;
  color: var(--brown);
}

.slide {
  color: var(--brown);
  border: 0.5px solid var(--brown);
  padding: 2%;
  min-height: 38vw;
  max-height: 38vw;
}

#releases-txt {
  margin: 0 0 3%;
}

.wine-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-card-container>* {
  color: var(--brown);
}

.wine-card-name {
  line-height: 1.2em;
  font-family: 'Peskia', sans-serif;
  font-size: clamp(1.3rem, 2.2vw, 2.3rem);
}

.wine-card-img {
  width: 17vw;
  height: 23vw;
  object-fit: cover;
  margin-top: 3%;
}

.nr-item-description {
  font-size: clamp(1.4rem, 1.3vw, 1.3rem);
  margin: 5% 15% 2%;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .wineSwiper {
    width: 90vw;
    height: 50vw;
  }

  .slide {
    margin: 3%;
    min-height: 45vw;
    max-height: 45vw;
  }
}

@media screen and (max-width: 480px) {
  .wineSwiper {
    width: 100vw;
    height: 100vw;
  }

  .slide {
    margin: 3% 2%;
    min-height: 85vw;
    max-height: 85vw;
    min-width: 50vw;
    max-width: 50vw;
  }

  .wine-card-img {
    margin-top: 10%;
    width: 37vw;
    height: 45vw;
  }

  .wine-card-container {
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .wine-card-name {
    font-size: clamp(1.2rem, 2.2vw, 2.3rem);
    text-align: center;
  }

  .nr-item-description {
    display: none;
  }
}