#logo-container {
  display: flex;
  width: fit-content;
}

#logo-img {
  width: 4rem;
}

#logo-name {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(1.8rem, 2.2vw, 2rem);
  line-height: 1.1em;
  margin-left: 1%;
}

@media screen and (max-width: 760px) {
  #logo-img {
    width: 3.5rem;
  }

  #logo-name {
    font-size: clamp(1.5rem, 2.2vw, 2rem);
  }
}

@media screen and (max-width: 480px) {
  #logo-img {
    width: 2.5rem;
  }

  #logo-name {
    font-size: clamp(1.2rem, 2.2vw, 2rem);
  }
}
