#logo-container {
  display: flex;
  width: fit-content;
}

#logo-img {
  width: 5vw;
}

#logo-name {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(1.8rem, 2.2vw, 2rem);
  line-height: 1.1em;
  margin-left: 1%;
}
