#about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    z-index: -1;
}

#about-h1 {
    padding: 1em 1em 0;
    line-height: 1em;
    margin-top: 15%;
}

#scroll-wrapper-about {
    margin-top: 5%;
}

#about-story {
    position: relative;
    padding: 7%;
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    padding-top: 5%;
}

#about-story-content {
    display: flex;
    flex-direction: column;
}

#about-story>*,
.about-story-txt,
#mission-txt,
#about-origins>* {
    color: var(--brown);
}

.accent-txt {
    color: var(--brown);
    font-family: 'Erode-Medium', sans-serif;
}

#about-story-top,
#about-story-bot {
    display: flex;
    gap: 5%;
    margin: 0;
    align-items: center;
}

.about-story-txt {
    font-size: clamp(1.3rem, 1.5vw, 1.5rem);
    line-height: 1.3em;
    margin: 5% 0;
}

.about-img {
    max-height: 45vw;
}

#mission-txt {
    border: 1px var(--brown-2);
    padding: 3%;
    border-style: solid none;
    width: 100%;
    font-size: clamp(2.5rem, 3.5vw, 3.5vw);
    line-height: 1.3em;
    text-align: center;
    margin: 10% 0;
}

#about-bird-img {
    max-height: 50vw;
    min-width: 100vw;
    object-fit: cover;
    filter: brightness(90%);
}

#about-people {
    padding: 5% 10%;
    width: 100%;
}

#about-people-h2 {
    color: var(--beige)
}

#about-people-txt {
    color: var(--beige);
}

#people-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.people-img {
    width: 20vw;
}

.people-img-vineyard {
    width: 40vw;
}

#about-origins {
    background-color: var(--beige);
    color: var(--brown-2);
    width: 100%;
    padding: 7%;
    display: flex;
}

#about-origins-content {
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}

#vintage-img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.vintage-img {
    width: 40vw;
}

#about-places {
    padding: 5% 10%;
}

#about-place-txt,
#about-place-h2 {
    color: var(--beige);
}

#places-img-div {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.place-img {
    height: 30vw;
    width: 22vw;
    object-fit: cover;
}

@media screen and (max-width: 768px) {

    #about-story,
    #about-story-top,
    #about-story-bot {
        flex-direction: column;
        align-items: center;
    }

    #about-nav {
        width: 100%;
        text-align: center;
    }


    #about-story-logo {
        position: static;
        margin: 5%;
        width: 20%;
    }

    .about-img {
        max-width: 80%;
        max-height: 100%;
        margin: 2% 0;
    }

    #people-img-div {
        flex-direction: column;
    }

    .people-img {
        width: 70%;
        margin: 5%;
    }

    .people-img-vineyard {
        width: 80%;
    }

    #about-origins-content {
        flex-direction: column;
    }

    .vintage-img {
        margin: 5% 0;
    }
}