.wine-item-name,
.wine-item-description,
.wine-item-link {
    color: var(--black);
}

.inner-wine-item-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 65vw;
    justify-content: space-between;
}

.wine-item-name {
    line-height: 1.2em;
    margin: 8% 0 3%;
    text-align: center;
    width: 100%;
}

.wine-item-description {
    font-size: clamp(0rem, 1.3vw, 10000rem);
    line-height: 1.2em;
    margin: 5% 5% 2%;
}

.wine-item-img {
    box-shadow: 0 0.875rem 1.75rem #00000040, 0 0.625rem 0.625rem #00000038;
    height: 55%;
    object-fit: cover;
    width: 50%;
}

.wine-item-bot {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
}

.wine-item-link {
    border: 1px solid var(--black);
    font-family: 'Erode-Light', sans-serif;
    font-size: clamp(0rem, 1.3vw, 10000rem);
    letter-spacing: 0.4em;
    margin-top: 2%;
    padding: 1em 2em;
    text-decoration: none;
}

.wine-item-link:hover {
    background-color: var(--brown);
    color: var(--white);
}