.wine-item-name,
.wine-item-description,
.wine-item-link {
    color: var(--brown-2);
}

.inner-wine-item-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vw;
    justify-content: space-between;
}

.wine-item-name {
    line-height: 1.2em;
    margin: 8% 0 3%;
    text-align: center;
    width: 100%;
}

.wine-item-description {
    font-size: clamp(0rem, 1.3vw, 10000rem);
    line-height: 1.2em;
    margin: 5% 5% 2%;
}

.wine-item-img {
    height: 60%;
    object-fit: cover;
    width: 50%;
}

.wine-item-bot {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
}