#footer {
  padding: 1%;
}

#footer-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-top-r {
  font-size: clamp(0rem, 1.3vw, 200rem);
  width: 60%;
}

#footer-bottom {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}
