#footer {
  padding: 1%;
}

#footer-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-top-r {
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  width: 60%;
}

#footer-bottom {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
}

@media screen and (max-width: 530px) {
  #footer-top-r, #footer-bottom {
    font-size: clamp(0.7rem, 1.3vw, 1.3rem);
  }
}