#wine-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#wine-section-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#wine-section-top-container {
    backdrop-filter: brightness(25%) blur(8px);
    width: 100%;
}

#wine-section-logo {
    margin: 2%;
    position: absolute;
    width: 50%;
}

#wine-section-h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 1em;
    margin-top: 10%;
}

#wine-list-container {
    background-color: var(--beige);
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.wine-item-container {
    border: 0.1px solid var(--black);
    color: var(--black);
}