#landing-top {
  background: url('../../assets/images/LandingPage/wgc-landing.jpg');
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#landing-top-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  width: 100%;
}

h1 {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(4rem, 7vw, 6.5rem);
  letter-spacing: 0.2em;
  margin: 5%;
}

h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.3rem);
}

#landing-top-p {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(1.9rem, 3vw, 2.8rem);
  letter-spacing: 0.2em;
}



@media screen and (max-width: 760px) {
  #landing-top {
    height: 80vw;
    width: 100%;
  }
}