#landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
}

#landing-top-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  width: 100%;
  z-index: 1;
}

#about-barrels {
  filter: brightness(50%);
  border: 1px solid red;
}

#landing-h1 {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(4rem, 7vw, 6.5rem);
  letter-spacing: 0.2em;
  margin: 5%;
}

#landing-h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.3rem);
}

#landing-top-p {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(1.9rem, 3vw, 2.8rem);
  letter-spacing: 0.2em;
}

#landing-story {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10% 10%;
  position: relative;
  margin-top: 5%;
}

#landing-story-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#landing-story-logo {
  width: 6vw;
  position: absolute;
  top: 3%;
  right: 13%;
}

#landing-story-img {
  height: 25vw;
}

#landing-story-txt {
  font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  margin-left: 5%;
  line-height: 1.3em;
}

#landing-source {
  background-color: var(--beige);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10%;
}

.source-title {
  font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  line-height: 1.3em;
  color: var(--brown);
  font-family: 'Erode-Medium', sans-serif;
  margin-left: 2%;
}

.source-text {
  font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  line-height: 1.3em;
  color: var(--brown);
  margin: 5% 15% 0 0;
}

.check-mark>* {
  color: var(--brown);
}

#source-grapes-img {
  width: 40vw;
}

@media screen and (max-width: 850px) {

  #landing-h1 {
    font-size: clamp(2rem, 7vw, 6.5rem);
    margin: 3%;
  }

  #landing-h2 {
    font-size: clamp(1.2rem, 2.5vw, 2.3rem);
  }

  #landing-top-p {
    font-size: clamp(1.3rem, 3vw, 2.8rem);
    margin: 0 3%;
  }

  #landing-story-content {
    flex-direction: column-reverse;
  }

  #landing-story-logo {
    display: none;
  }

  #landing-story-img {
    margin-top: 7%;
    height: 40vw;
  }

  #landing-story-txt {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }

  #landing-source {
    flex-direction: column;
    align-items: center;
  }

  #landing-source-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .source-text {
    margin: 0 0 5%;
  }

  #source-grapes-img {
    width: 60vw;
  }
}

@media screen and (max-width: 480px) {
  #landing-top-content {
    margin-top: 15%;
  }

  #landing-h1 {
    line-height: 1.2em;
    margin: 2% 20% 0;
    text-align: center;
  }

  #landing-top-p {
    margin: 3% 20%;
    text-align: center;
  }
}