#landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110vh;
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
}

#landing-top-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  width: 100%;
}

#about-barrels {
  filter: brightness(50%);
  border: 1px solid red;
}

h1 {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(4rem, 7vw, 6.5rem);
  letter-spacing: 0.2em;
  margin: 5%;
}

h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.3rem);
}

#landing-top-p {
  font-family: 'Peskia', sans-serif;
  font-size: clamp(1.9rem, 3vw, 2.8rem);
  letter-spacing: 0.2em;
}

#landing-story {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10% 10% 0;
  position: relative;
  margin-top: 5%;
}

#landing-story-content {
  display: flex;
  justify-content: center;
  padding: 0 20%;
}

#landing-story-logo {
  width: 8vw;
  position: absolute;
  top: 5%;
  right: 15%;
}

#landing-story-img {
  height: 30vw;
}

#landing-story-txt {
  font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  margin-left: 10%;
  line-height: 1.3em;
}

#landing-source {
  background-color: var(--beige);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10%;
}

.source-title {
  font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  line-height: 1.3em;
  color: var(--brown);
  font-family: 'Erode-Medium', sans-serif;
  margin-left: 2%;
}

.source-text {
  font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  line-height: 1.3em;
  color: var(--brown);
  margin: 5% 15% 0 0;
}

.check-mark>* {
  color: var(--brown);
}

#source-grapes-img {
  width: 40vw;
}

@media screen and (max-width: 760px) {
  #landing-top {
    height: 80vw;
    width: 100%;
  }
}