@font-face {
    font-family: 'Peskia';
    src: url('./assets/fonts/Peskia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audrey-Medium';
    src: url('./assets/fonts/Audrey-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audrey-Normal';
    src: url('./assets/fonts/Audrey-Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --beige: rgb(219, 208, 192);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
    color: var(--beige);
}

body {
    font-family: 'Audrey-Normal', sans-serif;
    background-color: rgb(16, 9, 6);
}